header nav > ul {
    overflow: hidden;
}

header nav > ul > li {
    float: left;
}

header nav, header div.logo {
    clear: both;
}

header {
    position: relative;
    height: 150px;
}

header .tnb {
    position: absolute;
    right: 0;
    top: 0;
}

header .bnb {
    position: absolute;
    right: 0;
    bottom: 0;
}

header div.logo {
    position: absolute;
    top: 50px;
    left: 30px;
}