.wrap-header {
    background-color: aliceblue;
}

.wrap-header > header {
    width: 960px;
    margin: 0 auto; /*수평 정렬*/
}

.wrap-footer {
    background-color: azure;
    clear: both; /* float 적용해제 */
}

.wrap-footer > footer {
    width: 960px;
    margin: 0 auto; /*수평 정렬*/
}

.wrap-main {
    background-color: bisque;
    width: 960px;
    margin: 0 auto; /*수평 정렬*/
}

.wrap-main > section {
    width: 750px;
    float: left;
}

.wrap-main > aside {
    width: 200px;
    float: right;
}
