<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>표태그 좀 중요</h1>
    <table border="1" >
    <tbody>
        <tr>
        <td>내용1</td>
        <td colspan="2">내용2</td>
        <td rowspan="3">내용4</td>
        </tr>
    </tbody>
    <thead>
        <tr>
        <td>내용5</td>
        <td>내용6</td>
        <td>내용7</td>
        </tr>
    </thead>
    <tfoot>
        <tr>
        <td>내용9</td>
        </tr>
    </tfoot>
    </table>
<br>
    <table border="1" >
            <tr>
            <td>내용1</td>
            <td colspan="2">내용2</td>
            <td rowspan="3">내용4</td>
            </tr>
            <tr>
            <td>내용5</td>
            <td>내용6</td>
            <td>내용7</td>
            </tr>
            <tr>
            <td>내용9</td>
            </tr>
        </table>

    <ul>
        <li>메로나1</li>
        <li>
            <div>메로나1</div>
            <ul>
                <li>메로나1</li>
                <li>메로나1</li>
                <li>메로나1</li>
                <li>메로나1</li>
            </ul>
        </li>
        <li>메로나1</li>
        <li>메로나1</li>
    </ul>

    <ol>
        <li>메로나1</li>
        <li>메로나1</li>
        <li>
            <dl>
                <dt>메로나1</dt>
                <dd>메로나1</dd>
                <dd>메로나1</dd>
                <dd>메로나1</dd>
            </dl> 
        </li>
        <li>메로나1</li>
        <li>메로나1</li>
    </ol>
    <dd>
        <dt>메로나1</dt>
        <dd>메로나1</dd>
        <dd>메로나1</dd>
        <dd>메로나1</dd>
    </dd>
</body>
</html>