<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my first webpage</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/webpage.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrap-header">
        <header>
            <nav class="tnb">
                <ul>
                    <li><a href="#">메뉴1</a></li>
                    <li><a href="#">메뉴2</a></li>
                    <li><a href="#">메뉴3</a></li>
                    <li><a href="#">메뉴4</a></li>
                    <li><a href="#">메뉴5</a></li>
                </ul>
            </nav>
            <nav class="bnb">
                <ul>
                    <li><a href="#">ㄱ</a></li>
                    <li><a href="#">ㄴ</a></li>
                    <li><a href="#">ㄷ</a></li>
                    <li><a href="#">ㄹ</a></li>
                    <li><a href="#">ㅁ</a></li>
                </ul>
            </nav>
            <div class="logo">
                로고로고로고로고로고로고
            </div>
        </header>
    </div>
    <div class="wrap-main">
        <section>
            <article>
                <h1 class="noto-serif">Main Article</h1>
                <p>
                    Origins and Discovery Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's
                    1st-century BC text De Finibus Bonorum et Malorum.
                </p>
            </article>
            <article>
                <h1 class="noto-serif">Main Article</h1>
                <p>
                    Origins and Discovery Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's
                    1st-century BC text De Finibus Bonorum et Malorum.
                </p>
            </article>
            <article>
                <h1 class="noto-serif">Main Article</h1>
                <p>
                    Origins and Discovery Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's
                    1st-century BC text De Finibus Bonorum et Malorum.
                </p>
            </article>
            <article>
                <h1 class="noto-serif">Main Article</h1>
                <p>
                    Origins and Discovery Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's
                    1st-century BC text De Finibus Bonorum et Malorum.
                </p>
            </article>
            <article>
                <h1 class="noto-serif">Main Article</h1>
                <p>
                    Origins and Discovery Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's
                    1st-century BC text De Finibus Bonorum et Malorum.
                </p>
            </article>
            <article>
                <h1 class="noto-serif">Main Article</h1>
                <p>
                    Origins and Discovery Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's
                    1st-century BC text De Finibus Bonorum et Malorum.
                </p>
            </article>
            <article>
                <h1 class="noto-serif">Main Article</h1>
                <p>
                    Origins and Discovery Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's
                    1st-century BC text De Finibus Bonorum et Malorum.
                </p>
            </article>
            <article>
                <h1 class="noto-serif">Main Article</h1>
                <p>
                    Origins and Discovery Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's
                    1st-century BC text De Finibus Bonorum et Malorum.
                </p>
            </article>
            <article>
                <h1 class="noto-serif">Main Article</h1>
                <p>
                    Origins and Discovery Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's
                    1st-century BC text De Finibus Bonorum et Malorum.
                </p>
            </article>
            <article>
                <h1 class="noto-serif">Main Article</h1>
                <p>
                    Origins and Discovery Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's
                    1st-century BC text De Finibus Bonorum et Malorum.
                </p>
            </article>
            <article>
                <h1 class="noto-serif">Main Article</h1>
                <p>
                    Origins and Discovery Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's
                    1st-century BC text De Finibus Bonorum et Malorum.
                </p>
            </article>
            <article>
                <h1 class="noto-serif">Main Article</h1>
                <p>
                    Origins and Discovery Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's
                    1st-century BC text De Finibus Bonorum et Malorum.
                </p>
            </article>

        </section>
        <aside>
            Fuzzy Beginnings Creation timelines for the standard lorem ipsum passage vary,
            with some citing the 15th century and others the 20th.
        </aside>
    </div>
    <div class="wrap-footer">
        <footer>
            <div>image</div>
            <h3>로고로고로고로고로고로고</h3>
            <adress>adress</adress>
        </footer>
    </div>
</body>

</html>