<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/0312_test.css" rel="stylesheet">

</head>
<body>
    <div class="wrap-header">
        <header>
            <h1><a href="#">Prototype</a></h1>
            <nav class="t_nav">
                <ul>
                    <li><a href="#">A</a></li>
                    <li><a href="#">B</a></li>
                    <li><a href="#">C</a></li>
                    <li><a href="#">D</a></li>
                </ul>
            </nav>
            <nav class="b_nav">
                <ul>
                    <li><a href="#">ㄱ</a></li>
                    <li><a href="#">ㄴ</a></li>
                    <li><a href="#">ㄷ</a></li>
                    <li><a href="#">ㄹ</a></li>
                    <li><a href="#">ㅁ</a></li>
                    <li><a href="#">ㅂ</a></li>
                    <li><a href="#">ㅅ</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="main">
        <section>
            <article>
                <h2>Lorem Ipsum Generator</h2>
                <p>
                    Generate Lorem Ipsum placeholder text.
                    Select the number of characters, words, sentences or paragraphs,
                     and hit generate!
                </p>
            </article>
            <article>
                <h2>Lorem Ipsum Generator</h2>
                <p>
                    Generate Lorem Ipsum placeholder text.
                    Select the number of characters, words, sentences or paragraphs,
                     and hit generate!
                </p>
            </article>
            <article>
                <h2>Lorem Ipsum Generator</h2>
                <p>
                    Generate Lorem Ipsum placeholder text.
                    Select the number of characters, words, sentences or paragraphs,
                     and hit generate!
                </p>
            </article>
            <article>
                <h2>Lorem Ipsum Generator</h2>
                <p>
                    Generate Lorem Ipsum placeholder text.
                    Select the number of characters, words, sentences or paragraphs,
                     and hit generate!
                </p>
            </article>
            <article>
                <h2>Lorem Ipsum Generator</h2>
                <p>
                    Generate Lorem Ipsum placeholder text.
                    Select the number of characters, words, sentences or paragraphs,
                     and hit generate!
                </p>
            </article>
            <article>
                <h2>Lorem Ipsum Generator</h2>
                <p>
                    Generate Lorem Ipsum placeholder text.
                    Select the number of characters, words, sentences or paragraphs,
                     and hit generate!
                </p>
            </article>
        </section>
    </div>
    <div class="wrap-aside">
        <aside>
            <h3>aside menu</h3>
            <nav class="aside_nav">
                <ul>
                    <li><a>Γ</a></li>
                    <li><a>Δ</a></li>
                    <li><a>Ε</a></li>
                    <li><a>Θ</a></li>
                </ul>
            </nav>
        </aside>
    </div>
    <div class="wrap-footer">
        <footer>
    
        </footer>
    </div> 
</body>
</html>