<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/240313_webpage_core.css" rel="stylesheet">
    <link href="../css/240313_webpage_layout.css" rel="stylesheet">
    
</head>
<body>
    <div class="wrap">
        <div class="wrap-header">
            <header>

            </header>
        </div>
        <div class="wrap-main">
            <section>

            </section>
            <aside>

            </aside>
        </div>
        <div class="wrap-footer">
            <footer>
                
            </footer>
        </div>
    </div?>
</body>
</html>